---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/Container.astro";
import MainHeader from "@components/MainHeader.astro";
import Footer from "@components/Footer.astro";
---

<BaseLayout>
  <MainHeader />
  <main class="flex-1">
    <Container as="div">
      <h1 class="font-slab font-semibold text-8xl">404</h1>
      <p class="text-lg">Whoops, seems like that page has gone missing.</p>
    </Container>
  </main>
  <Footer />
</BaseLayout>
