---
import Container from "./Container.astro";
const footerLinks = [
  { href: "/", text: "Home" },
  { href: "/blog", text: "Blog" },
  { href: "/ai", text: "AI Usage" },
];
---

<footer class="bg-slate-200 text-slate-700/80">
  <Container class="flex flex-col items-center gap-2">
    <p class="flex-1 font-slab font-bold text-sm text-center">
      © 2024 Kyle Goggin. All rights reserved.
    </p>
    <div class="flex items-center justify-center lg:-mr-2 text-slate-600/80">
      <a
        class="inline-block px-2 py-2 hover:text-blue-700/80"
        href="https://bsky.app/profile/kylegoggin.com"
        title="BlueSky"
      >
        <span class="sr-only">https://bsky.app/profile/kylegoggin.com</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 600 530"
          width="24"
          height="21.2"
          version="1.1"
        >
          <path
            d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
            fill="currentColor"></path>
        </svg>
      </a><a
        class="inline-block px-2 py-2 hover:text-blue-700/80"
        href="https://github.com/kgoggin"
        title="Github"
      >
        <span class="sr-only">https://github.com/kgoggin</span>
        <svg fill="currentColor" viewBox="0 0 512 512" width="24">
          <g>
            <path
              clip-rule="evenodd"
              d="M296.133,354.174c49.885-5.891,102.942-24.029,102.942-110.192   c0-24.49-8.624-44.448-22.67-59.869c2.266-5.89,9.515-28.114-2.734-58.947c0,0-18.139-5.898-60.759,22.669   c-18.139-4.983-38.09-8.163-56.682-8.163c-19.053,0-39.011,3.18-56.697,8.163c-43.082-28.567-61.22-22.669-61.22-22.669   c-12.241,30.833-4.983,53.057-2.718,58.947c-14.061,15.42-22.677,35.379-22.677,59.869c0,86.163,53.057,104.301,102.942,110.192   c-6.344,5.452-12.241,15.873-14.507,30.387c-12.702,5.438-45.808,15.873-65.758-18.592c0,0-11.795-21.31-34.012-22.669   c0,0-22.224-0.453-1.813,13.592c0,0,14.96,6.812,24.943,32.653c0,0,13.6,43.089,76.179,29.48v38.543   c0,5.906-4.53,12.702-15.865,10.89C96.139,438.977,32.2,354.626,32.2,255.77c0-123.807,100.216-224.022,224.03-224.022   c123.347,0,224.023,100.216,223.57,224.022c0,98.856-63.946,182.754-152.828,212.688c-11.342,2.266-15.873-4.53-15.873-10.89   V395.45C311.1,374.577,304.288,360.985,296.133,354.174L296.133,354.174z M512,256.23C512,114.73,397.263,0,256.23,0   C114.73,0,0,114.73,0,256.23C0,397.263,114.73,512,256.23,512C397.263,512,512,397.263,512,256.23L512,256.23z"
              fill-rule="evenodd"></path>
          </g>
        </svg>
      </a>
      <a
        class="inline-block px-2 py-2 hover:text-blue-700/80"
        href="/rss.xml"
        title="RSS Feed"
      >
        <span class="sr-only">https://kylegoggin.com/rss.xml</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M6.503 20.752c0 1.794-1.456 3.248-3.251 3.248-1.796 0-3.252-1.454-3.252-3.248 0-1.794 1.456-3.248 3.252-3.248 1.795.001 3.251 1.454 3.251 3.248zm-6.503-12.572v4.811c6.05.062 10.96 4.966 11.022 11.009h4.817c-.062-8.71-7.118-15.758-15.839-15.82zm0-3.368c10.58.046 19.152 8.594 19.183 19.188h4.817c-.03-13.231-10.755-23.954-24-24v4.812z"
            fill="currentColor"></path>
        </svg>
      </a>
    </div>
    <ul
      class="flex divide-solid divide-x divide-slate-400/50 font-slab text-sm"
    >
      {
        footerLinks.map(({ href, text }) => (
          <li>
            <a class="px-2 hover:text-blue-700/80" href={href}>
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </Container>
</footer>
