---
import Container from "./Container.astro";
---

<header class="bg-slate-200 border-b border-slate-300">
  <Container as="nav" class="py-3 flex gap-3">
    <a href="/">Home</a>
    <a href="/blog">Blog</a>
  </Container>
</header>
