---
import "../index.css";
type Props = {
  title: string;
};
const { title } = Astro.props;
const pageTitle = `${title} | Kyle Goggin`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/pvi2eso.css" />
    <title>{pageTitle}</title>
    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="XJSEJRAX" defer
    ></script>
    <!-- / Fathom -->
  </head>
  <body class="font-sans text-slate-800 flex flex-col h-screen">
    <slot />
  </body>
</html>
