---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://use.typekit.net/pvi2eso.css" />
    <title>Kyle Goggin.com</title>
  </head>
  <body class="font-sans text-slate-800 flex flex-col h-screen">
    <slot />
  </body>
</html>
